/* Cube용 CSS */
.viewport {
    -webkit-perspective: 1300px;
    -webkit-perspective-origin: 80% 200px;
    -webkit-transform: scale(0.5,0.5);
}

.viewport .cube {
    position: relative;
    height: 400px;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-30deg) rotateY(-35deg);
}

.viewport .cube > .face {
    position: absolute;
    height: 380px;
    width: 380px;
    padding: 0px;
    /*background-color: rgba(50, 50, 50, 0.55);*/
    /*border: 2px solid #555;*/
    /*-webkit-backface-visibility: hidden;*/
    -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.09, 1.42, 0.19, 0.98), opacity 1.5s linear;
}

/* padding 없는 버전 */
.viewport .cube > .face.full {
    position: absolute;
    height: 400px;
    width: 400px;
    padding: 0px;
    background-color: rgba(50, 50, 50, 0.55);
    /*overflow: hidden;*/
    /*-webkit-backface-visibility: hidden;*/
    -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.09, 1.42, 0.19, 0.98), opacity 1.5s linear;
}

.face img {
    position:absolute;
    display:block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.face img.character {
    position:absolute;
}

.face img.character.pacman {
    -webkit-transform: translate3d(70px, 170px,0) scale(0.08,0.08);
}

.face img.character.pacman_enemy {
    -webkit-transform: translate3d(-120px, 170px,0) scale(0.08,0.08);
}

.face img.character.pacman.ing {
    -webkit-transform: translate3d(70px, 170px,0) scale(0.08,0.08);
    -webkit-animation: pacman_move 0.5s infinite alternate;
}

.face img.character.pacman_enemy.ing {
    -webkit-transform: translate3d(-120px, 170px,0) scale(0.08,0.08);
    -webkit-animation: pacman_enemy_move 2s infinite alternate;
}

.face img.badge {
    position:absolute;
    -webkit-transform: translate3d(-155px, -155px,0) scale(0.2,0.2);
}

.face img.badge.ing {
    position:absolute;
    -webkit-transform: translate3d(-155px, -155px,0) scale(0.2,0.2);
    -webkit-animation: badgemove 0.5s infinite alternate;
}

.face img.character.baseball {
    -webkit-transform: translate3d(-150px, 120px,0) scale(0.14,0.14);
}

.face img.character.baseball.ing {
    -webkit-transform: translate3d(-150px, 120px,0) scale(0.14,0.14);
    -webkit-animation: ballHead_move 1.5s infinite linear;
}

@-webkit-keyframes pacman_move {
    from { -webkit-transform: translate3d(70px, 170px,0) scale(0.08,0.08) rotateY(0deg); }
    to { -webkit-transform: translate3d(70px, 170px,0) scale(0.08,0.08) rotateY(180deg); }
}

@-webkit-keyframes pacman_enemy_move {
    from { -webkit-transform: translate3d(-160px, 170px,0) scale(0.08,0.08); }
    to { -webkit-transform: translate3d(50px, 170px,0) scale(0.08,0.08); }
}

@-webkit-keyframes badgemove {
    from { -webkit-transform: translate3d(-155px, -155px,0) scale(0.2,0.2) rotate(-15deg); }
    to { -webkit-transform: translate3d(-155px, -155px,0) scale(0.25,0.25) rotate(15deg); }
}

@-webkit-keyframes ballHead_move {
    0% { -webkit-transform: translate3d(-150px, 120px,0) scale(0.14,0.14); }
    20% { -webkit-transform: translate3d(-150px, -60px,0) rotateY(20deg) scale(0.14,0.14); }
    50% { -webkit-transform: translate3d(-150px, -100px,0) rotateY(-180deg) scale(0.14,0.14); }
    70% { -webkit-transform: translate3d(-150px, -60px,0) rotateY(20deg) scale(0.14,0.14); }
    100% { -webkit-transform: translate3d(-150px, 120px,0) scale(0.14,0.14); }
}