@charset "utf-8";
/* game result */
.game-status{
    height: 400px;
    width: 400px;
}
.game-result{
    background-image:url(../img/game-status-card.png);
    background-size:100%;
    margin:0 auto;
    position:absolute;
    width: 380px;
    height: 380px;
/*    top:10px;
    left:10px;*/
    font-family:Tahoma, Geneva, sans-serif;
    white-space:nowrap;
    overflow: hidden;
}
.game-result-content{
    position:relative;
    height:530px;
    overflow:hidden;
}
.game-result h2,
.game-result p,
.game-result b,
.game-result em,
.game-result strong,
.game-result button{
    position:absolute;
    margin:0;
}
.game-result h2,
.game-result p,
.game-result button{color:rgba(0,0,0,0);}
.game-result h2{
    top:10%;
    width:100%;
}

.game-result .p0{
    top:66%;
    left:8%;
    right:8%;
    height:13%;
}

.game-result .p0>strong{
    background:url(../img/game-title.png) no-repeat;
    background-size:80%;
    position:relative;
    display:inline-block;
    height:100%;
    width:100%;
    left: 5%;
    top:-395%;
    background-position: center 200%;
}
.game-result .p0>.gallaga-title {background-position:40% 0%;}
.game-result .p0>.cashpang-title{background-position:15% 25%;}
.game-result .p0>.catchman-title{background-position:15% 50%;}
.game-result .p0>.eo48-title    {background-position:15% 75%;}
.game-result .p0>.baseball-title{background-position:30% 100%;}

.game-result .p1{
    top:22%;
    left:3%;
    right:3%;
    height:40%;
}
.game-result .p1>em{
    top:12%;
    left:11%;
    width:28%;
    height:24%;
    color:#fff;
    font-style:normal;
    font-weight:bold;
    text-align:center;
    font-size:24px;
}
.game-result .p1>em:after{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.game-result .p1>strong{
    bottom:19%;
    right:33%;
    color:#272726;
    font-size:80px;
}
.game-result .p1>b{
    bottom:30%;
    right:10%;
    color:#94948f;
    font-size:42px;
}

.game-result .p2{
    top:66%;
    left:8%;
    right:8%;
    height:13%;
}
.game-result .p2>strong{
    background:url(../img/game-result-level.gif) no-repeat;
    background-size:100%;
    position:relative;
    display:inline-block;
    height:74%;
    width:40%;
    top:-63%;
}
.game-result .p2>.lv-1{background-position:center 0;}
.game-result .p2>.lv-2{background-position:center 20%;}
.game-result .p2>.lv-3{background-position:center 40%;}
.game-result .p2>.lv-4{background-position:center 60%;}
.game-result .p2>.lv-5{background-position:center 80%;}
.game-result .p2>.lv-6{background-position:center 100%;}
.game-result .p3{
    top:85%;
    left:0;
    right:0;
}

.game-result .p1>em{font-size:24px;}
.game-result .p1>strong{font-size:84px;}
.game-result .p1>b{font-size:50px;}
