@charset 'utf-8';

html, body, p, dl, dt, dd, ul, li, ol, div, article, section, h1, h2, h3, h4, button { margin: 0px; padding: 0px; }
body { line-height: 1.1em; font-family: Roboto,'Droid Sans',AppleSDGothicNeo,Helvetica,sans-serif; background-color: #f4f4f4;}
em, var { font-style: normal; }
ul, li { list-style: none; }
.accent_txt { color: #ff353a; }
.m_access { position: absolute; left: 0; top: 0; height: 100%; width: 100%;}
.m_access > * { color: rgba(0,0,0,0); font-size: 0.5em; }
.m_access a { position: absolute; display: block; color:rgba(0,0,0,0); }

.evt_wrap { margin: 0px auto; padding: 0px; height: 100%; min-width: 320px; }

.evt_main > article ,
.evt_body > article { position: relative; }

.evt_main > .game_top,
.evt_main > .game_play{ padding-bottom: 2.3%; overflow: hidden;}
.evt_main > .game_play { background: #f4f4f4; }


.game_top > img,
.evt_body > article > img { width: 100%; display: block; }

.evt_main { background: #fff9ed; }
/* 2014-07-23 수정 */
.evt_main > .game_ranking {overflow: hidden; position: relative;}
.evt_main > .game_ranking img { width: 100%; }
.evt_main > .game_ranking dl { color: #fff; width: 61.5%; height:70%; letter-spacing: -1px; position: absolute; top: 8%; left: 38.5%; }
.evt_main > .game_ranking dl dt { width:44.7%; height: 1px; color: transparent; overflow: hidden; }
.evt_main > .game_ranking dl dd { width:44.7%; margin: 0; padding: 0; text-align: right; height: 49%;  font-size: 18px;  font-weight: bold; line-height: 2em;}
.evt_main > .game_ranking dl dd.best { }
.evt_main > .game_ranking dl .my{ color: #fdefd5; }
.evt_main > .game_ranking dl dd.my{ }
.evt_main > .game_ranking dl dd.chance{ position: absolute; top: 20%; right: 8%; width: 15.7%; text-align: right; font-weight: bold; font-size: 20px; }
.evt_main > .game_ranking dl dt.chance { color: transparent; }
.evt_main > .game_ranking .btn_all_ranking { position: absolute; left: 5.3%; top: 13% ; width: 33.0%; height: 73.6%;  color: transparent;}
/* 2014-07-23 수정 */

/* game play, game over */
.play_sample { width: 100%; }
.game_over { width:92.6%; height: 66.0%; position: absolute; left: 3.7%; top:26%; background: rgba(0,0,0,0.7); border-radius: 2.8%; padding: 9.7% 10% 8.7%; box-sizing: border-box; overflow: hidden; text-align: center; }
.game_over img { width: 100%; }
.game_over button { display: inline-block; margin-top: 5%; border: 0 none; background: none; font-size: 1.2em; font-weight: bold; text-shadow: 2px 2px #000; color: #fff; }
.game_over button.replay { width:68.8%; margin-top: 0%; text-shadow: none; }

.game_over2 { width:92.6%; height: 66.0%; position: absolute; left: 3.7%; top:26.0%;  background: rgba(0,0,0,0.7); border-radius: 2.8%; padding: 9.7% 10% 8.7%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }
.game_over2 img { width: 100%; }
.game_over2 h2 {  }
.game_over2 .score { height: 46%; }
.game_over2 .score { border: 1px solid #fff; border-width: 1px 0; color: #fff; }
.game_over2 .score h3 { width: 46.3%; margin:12.0% auto 10% auto; }
.game_over2 .score var { font-size: 45px; font-weight: bold; font-family: Tahoma; display: block; text-align: center  }
.game_over2 .btn_area { height: 24.9%; text-align: center; overflow: hidden; position: relative; width:100%; margin-top:10%;}
.game_over2 .btn_area a { position: absolute; display: block; }
.game_over2 .btn_area a img{ width: 100%; height: 100%;}
.game_over2 .btn_area a.go_event { width:26.5%; height: 100%; left: 0; }
.game_over2 .btn_area a.replay { width:68.8%; height: 100%; right: 0; }



/* 2014-06-16추가 */
.ui_pop.type2 { width: 73%; margin-left: -36.5%; display: block; left: 50%; top: 30%;}
.ui_pop.type2 h1 { font-size: 15px; height: 35px; line-height: 35px;}
.ui_pop.type2 .pop_close { top: 9px; right: 9px; }
.ui_pop.type2 .pop_cnt { padding: 13px 22px; }


/* btn style */
.btn_all_ranking { width: 50.0%; height: 7.5%; left: 32.0%; top: 70.0%;}
.btn_game_play { width: 86.3%; height: 13.5%; left: 6.8%; top: 82.6%;}
.btn_game_guide { width: 44.1%; height: 14.7%; left: 45.6%; top: 79.8%;}
.btn_buy_game { width: 80%; height: 17.4%; left: 9.7%; top: 31.1%;} /* 2014-06-17 수정 */
.btn_game_gift { width: 27.9%; height: 16.4%; left: 61.6%; top: 52.0%;}
.btn_friends_ranking { width: 31.2%; height: 8.3%; left: 10.3%; top: 84.5%;}
.btn_purchase { width: 80.0%; height: 12.0%; left: 9.7%; top: 79.7%;}/* 2014-06-17 수정 */
.btn_buy_game2 { width: 13.0%; height: 52.0%; left: 73.0%; top: 21.0%; position: absolute; color: transparent; overflow: hidden;} /* 2014-07-23 수정 */
.btn_gift_you { width: 36.9%; height: 25.2%; left: 11.9%; top: 54.7%; } /* 2014-06-23 추가 */
.btn_point_sum { width: 36.9%; height: 25.2%; left: 51.2%; top: 54.7%; } /* 2014-06-23 추가 */

.game_viral h3 { height:13.2%; }
.game_viral .show_txt { height: 17.4%; padding: 0 14.3%; overflow: hidden; }
.game_viral .show_txt li { list-style: none; position: relative; width:20%; float: left; height:100%; margin:0 2.5%;}
.game_viral .show_txt li a{ width: 100%; height: 80%; margin-top:15%; }


/* popup */
.ui_pop { color: #5e5952; font-size:13px; border: 5px solid #10b5c4; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-top-left-radius: 14px; border-top-right-radius: 14px; border-bottom-left-radius: 14px; border-bottom-right-radius: 14px; overflow: hidden; background: #fef7ea; letter-spacing: -1px; position: absolute; top: 0; display: none; width: 100%; z-index: 1000;}
/* 작업css
.ui_pop { position: relative; top: 0; display: block; }*/

.ui_pop h1 { color:#fff; font-size:20px; line-height: 52px; padding-left: 10px;   ;background: #58cdd8; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.ui_pop h2.pop_stit { font-size: 15px; margin: 0 0 10px 0;}
.ui_pop h2.pop_stit:before {content: '[ '}
.ui_pop h2.pop_stit:after {content: ' ]'}

.ui_pop .pop_cnt {padding: 10px;}
.ui_pop .pop_close { width: 20px; height: 20px; border: 0; position: absolute;	 right: 15px; top: 15px; text-indent: -2000px; overflow: hidden; background: url(../images/btn_close.png) 0 0 no-repeat; background-size: 20px 20px; }

.ui_pop .pop_cnt .pop_msg { font-size: 17px; color:#454038; font-weight: bold; padding: 10px 0 13px; line-height: 20px; text-align: center; }
.ui_pop .pop_cnt .pop_msg strong { color: #ff353a;}
.ui_pop .pop_cnt .desc { text-indent: -12px; padding-left: 12px; line-height: 1.5em;}
.ui_pop .pop_cnt .etc_msg { text-align: center; }
.ui_pop .pop_cnt .msg_box { margin: 0 0 20px 0; }
.ui_pop .pop_cnt .msg_box .pop_msg { font-size: 23px; line-height: 1.2em;}
.ui_pop .pop_cnt .msg_box .pop_msg em { font-size: 18px; display: block; margin:15px 0 0 0;}

.ui_pop .pop_cnt .txt_coment li,
.ui_pop .pop_cnt p.txt_coment { list-style: none; line-height: 1.5em;  padding: 0 0 5px 10px;}
.ui_pop .pop_cnt .txt_coment li:first-child,
.ui_pop .pop_cnt p.txt_coment { margin-top:15px;}

.ui_pop .pop_cnt p.txt_coment:before,
.ui_pop .pop_cnt .txt_coment li:before { content:'•'; display: inline-block; width:10px; margin-left: -10px; }

/* table 스타일  */
.ui_tbl table { border-collapse: collapse; width: 100%; }
.ui_tbl table caption { color: transparent; height: 1px; overflow: hidden;  margin-top: -1px; }

.ui_tbl .tbl_list thead th { color:#333; font-size: 13px; border-bottom: 2px solid #4f4c48;  padding: 5px 0; line-height: 20px; position: relative; background: #cecac3; font-weight: normal;}
.ui_tbl .tbl_list thead th:before{ content:''; display: inline-block; height: 20px; width:1px; background:#e7e3dd; vertical-align: middle;	position: absolute;	left: 0; }
.ui_tbl .tbl_list thead th:first-child:before { display: none; }
.ui_tbl .tbl_list thead th:last-child { border-right: 1px solid #cecac3; }
.ui_tbl .tbl_list tbody td { border:1px solid #cecac3; height: 30px; background: #fffcf6; text-align: center}
.ui_tbl .ranking td strong ,
.ui_tbl .ranking tr.my td  { color: #ff353a;}

.ui_tbl .paging { width: 105px; height: 20px; margin: 10px auto; position: relative; text-align: center; overflow: hidden; font-size: 14px;}
.ui_tbl .paging button { width:11px; height:20px; border: 0; background: url(../images/arrow.png) no-repeat 0 0; background-size: 25px 20px; text-indent: -20000px; overflow: hidden; vertical-align: middle; position: absolute; top: 0; padding: 0; margin: 0; }
.ui_tbl .paging button.prev { left: 0; }
.ui_tbl .paging button.next { right: 0; background-position: right 0; }
.ui_tbl .paging var { margin: 0 auto; width: 100%; line-height: 20px; }



.ui_pop .play_guide { margin: 0 0 20px 0; border-bottom: 1px solid #e0d7c9; }
.ui_pop .play_guide ol { color:#766d60; font-size: 14px; padding:15px 15px 5px; border: 1px solid #cecac3; background: #fffcf6; border-radius: 8px; margin: 0 0 15px 0; line-height: 1.5em;}
.ui_pop .play_guide ol > li { padding: 0 0 8px 20px; }
.ui_pop .play_guide ol > li span.num { display: inline-block; width: 20px; height:20px; margin: 0 5px 0 0; margin-left: -25px; background: #58cdd8; border-radius: 10px; line-height: 20px; text-align: center; color:#fff; vertical-align: middle; font-weight: bold; }

.ui_pop .game_guide_detail { padding: 0 10px; font-size: 14px; line-height: 1.5em; height: 100%; overflow: auto;}
.ui_pop .game_guide_detail li { padding: 15px 0; border-top: 1px solid #e0d7c9;  }
.ui_pop .game_guide_detail li:first-child { border-top: none; padding-top: 10px; }

.ui_pop .game_guide_detail li p { padding: 0 10px; }
.ui_pop .game_guide_detail li p img { display: block; width: 100%; margin: 0 0 15px 0; }
.ui_pop .game_guide_detail li span.num { display: inline-block; width: 24px; height:24px; margin: 0 5px 0 0; margin-left: -28px; background: #58cdd8; border-radius: 12px; line-height: 24px; text-align: center; color:#fff; vertical-align: middle; font-weight: bold; }

.ui_pop .game_guide_detail li h3,
.ui_pop .game_guide_detail li .att { font-weight: bold; font-size: 17px; margin: 0 0 8px 0;}
.ui_pop .game_guide_detail li h3 { padding: 0 0 0 28px; }
.ui_pop .game_guide_detail li .att { padding: 0; }

.ui_pop .ui_tab { display: -moz-box; display: -webkit-box; display: box; padding:0 0 8px 0; }
.ui_pop .ui_tab a{ width: 50%; font-size: 16px; color:#7d7971; padding: 10px 0; text-align: center; text-decoration: none; position: relative; border:1px solid #a19b91; border-radius: 5px; display: block; box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; box-flex: 1; -moz-box-flex: 1; -webkit-box-flex: 1;font-weight: bold; }
.ui_pop .ui_tab a:first-child { margin-right: 5px; }
.ui_pop .ui_tab a.active { color: #fff; background: #58cdd8; border:1px solid #58cdd8; }
.ui_pop .ui_tab a.active:after { content:''; display: inline-block; width: 0px; height:0px; border-top: 7px solid #58cdd8; border-right: 7px solid transparent; border-left: 7px solid transparent; position: absolute;	 bottom: -7px; left: 50%; margin-left: -4px;}


.ui_form { border: none; padding: 0; margin: 0;}
.ui_form legend { height: 1px; overflow: hidden; margin-top:-1px; color: transparent;}
.form_type1 { border: 1px solid #cecac3; border-radius: 4px; background: #fffcf6;}
.form_type1 li { display: table; height: 55px; width: 100%; }
.form_type1 li:first-child span { border-top: none; }
.form_type1 li > span { display: table-cell; vertical-align: middle; border-top:1px solid #fef7ea; padding: 8px 12px; }
.form_type1 li span.tit { width: 83px; color:#4f4f4f; vertical-align: top; background: #d8d4cd; }
.form_type1 li > span.data {color:#4f4f4f; border-color: #cecac3;}
.form_type1 li > span.point { text-align: right; font-size: 1.1em;}
.form_type1 li > span.data input[type='number'],
.form_type1 li > span.data input[type='text'],
.form_type1 li > span.data input[type='password'],
.form_type1 li > span.data input[type='tel'] { width: 100%; border: 1px solid #bbb; background: #fff; line-height: 35px; text-align: center; font-size: 13px; font-weight: bold; border-radius: 5px; box-shadow: -3px 3px 3px rgba(0,0,0,0.1) inset; -webkit-appearance: none; -webkit-box-sizing: border-box; vertical-align: middle; margin: 0;}
.form_type1 li > span.data.count_type span { display: inline-block;  float: right; line-height: 39px;}
.form_type1 li > span.data.count_type input{ width: 90%; float: left;}
.form_type1 li > span.data .block_type { margin-bottom: 7px;}

.layerPop {position:absolute; top:0; left:0; width:100%; height:100%; z-index:999; line-height: 1.5em; }
.layerPop .layerBg {position:absolute; top:0; left:0; z-index:1000; width:100%; height:100%; position:absolute; background:rgba(0,0,0,0.5);}

/* button style */
.btn_area { display: -moz-box; display: -webkit-box; display: box; margin: 10px 0 0 0; }
.btn_area span {display: block; box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; box-flex: 1; -moz-box-flex: 1; -webkit-box-flex: 1;}
.btn_area span:nth-child(2) { margin-left:8px; }

.ui_btn1 { border:1px solid #838383; background: #8e8e8e; display: block; height: 35px; line-height: 35px; border-radius: 5px; font-size: 15px; border: 0; color: #fff; text-align: center; text-decoration: none; width: 100%;}
.ui_btn2 { background: #f25053; display: block; height: 41px; line-height: 41px; border-radius: 5px; font-size: 15px; border: 0; color: #fff; text-align: center; text-decoration: none; font-weight: bold;}
.ui_btn2:after{ content: ''; width:7px; height:8px; background: url(../images/arrow2.png) no-repeat 0 center; background-size: 100%; display:inline-block; margin: 0 0 5px 5px; vertical-align: middle;}

/* 2014-06-16추가 */
.ui_btn4 { background: #f25053; display: block; height: 41px; line-height: 41px; border-radius: 9px; font-size: 15px; border: 0; color: #fff; text-align: center; text-decoration: none; font-weight: bold;}
.ui_btn3 { background: #494949; display: block; height: 41px; line-height: 41px; border-radius: 9px; font-size: 15px; border: 0; color: #fff; text-align: center; text-decoration: none; font-weight: bold;}

.dimmed { width: 100%; height:100%; background: rgba(0,0,0,0.7); position: absolute; left: 0; top: 0;}

.popcontwrap .topMent { font-size:16px; font-weight:bold; margin-bottom:20px; }
.popcontwrap .topMent strong { color:#d93d32; }
.popcontwrap .popcont fieldset { margin-bottom: 20px; }
.popcontwrap .popcont label { display:block; margin-bottom:5px; font-size:14px; font-weight:bold; }

.shown {display: block !important}
.hidden {display: none !important}

/* 2014-06-23 추가 */
.keep_going { width:100%; height: 100%; position: absolute; left: -0.3%; top:1%; z-index: 100;  background: rgba(0,0,0,0.7) url(../images/bg_flag.png) no-repeat right top; border-radius: 2.8%; padding: 0 10%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; background-size: 51.4% 23.0% ; letter-spacing: -2px;}
.keep_going .msg { height:36.8%; margin: 27% 0 0 0; color: #fff; font-size: 2.5em; line-height: 1.4em; text-align: center}
.keep_going .msg var { font-size: 1.2em; border-bottom: 2px solid #fff; line-height: 0.95em; display: inline-block; vertical-align: middle; margin-top:-5px; letter-spacing: 0;}
.keep_going .btn_area { margin: 0; padding: 0;}
.keep_going .btn_area button { display: block; background: none; border: none; width: 70.3%; margin: 0 auto;}
.keep_going .btn_area button img{ width: 100%}


@media all and (max-width:420px) {
	.evt_main > .game_ranking dl { font-size: 12px }
	.game_over .score var { font-size: 40px; }
    .game_over { width:77.6%; height: 68.4%; position: absolute; left: 40px; top: 125px; background: rgba(0,0,0,0.7); border-radius: 2.8%; padding: 9.7% 10% 8.7%; box-sizing: border-box; overflow: hidden; text-align: center; z-index: 10;}
    .game_over img { width: 100%; }
    .game_over h2 {  }
    .game_over .score { height: 46%; }
    .game_over .score { border: 1px solid #fff; border-width: 1px 0; color: #fff; }
    .game_over .score h3 { width: 46.3%; margin:12.0% auto 10% auto; }
    .game_over .score var { font-size: 45px; font-weight: bold; font-family: Tahoma; display: block; text-align: center  }
    .game_over .btn_area { height: 50.9%; text-align: center; overflow: hidden; position: relative; width:100%; margin-top:1%;}
    .game_over .btn_area a { position: absolute; display: block; }
    .game_over .btn_area a img{ width: 100%; height: 100%;}
    .game_over .btn_area a.go_event { top: 92px; left: 35px; color: #fff; }
    .game_over .btn_area a.rankd { left: 69px; top: 64px; color: #fff; }
    .game_over .btn_area a.replay { width:49.8%; height: 51px; right: 0; left: 52px; }
}
@media all and (max-width:321px) {
    .evt_main > .game_ranking dl dd { font-size: 16px }
    .game_over .score var { font-size: 40px; }
    .game_over { width:89%; height: 67.4%; position: absolute; left: 5%; top:31.0%;  background: rgba(0,0,0,0.7); border-radius: 2.8%; padding: 9.7% 10% 8.7%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; z-index: 1000; }
    .game_over img { width: 100%; }
    .game_over h2 {  }
    .game_over .score { height: 46%; }
    .game_over .score { border: 1px solid #fff; border-width: 1px 0; color: #fff; }
    .game_over .score h3 { width: 46.3%; margin:12.0% auto 10% auto; }
    .game_over .score var { font-size: 45px; font-weight: bold; font-family: Tahoma; display: block; text-align: center  }
    .game_over .btn_area { height: 30.9%; text-align: center; overflow: hidden; position: relative; width:100%; margin-top:1%;}
    .game_over .btn_area a { position: absolute; display: block; }
    .game_over .btn_area a img{ width: 100%; height: 100%;}
    .game_over .btn_area a.go_event { top: 101px; left: 39px; color: #fff; }
    .game_over .btn_area a.rankd { left: 72px; top: 75px; color: #fff; }
    .game_over .btn_area a.replay { width:49.8%; height: 51px; right: 0; left: 55px; }
    .keep_going .msg { font-size: 2.1em; height:38%;}/* 2014-06-23 추가 */
}