@charset 'utf-8';

html, body { margin: 0px; padding: 0px; }
body { margin:0 auto; font-size: 12px; line-height: 1; font-family: Roboto,'Droid Sans',AppleSDGothicNeo,Helvetica,sans-serif; }
.evt-wrap { margin: 0px auto; padding: 0px; height: 100%; min-width: 320px; }
.evt-wrap * { margin: 0px; padding: 0px; }
.evt-wrap li, .evt-wrap dd { list-style: none; }
.evt-wrap a { color: inherit; text-decoration: none; }
.evt-wrap em, .evt-wrap var { font-style: normal; }
.evt-wrap input { font: inherit; color: inherit; }
.evt-wrap button { border: 0px none; background: none; font: inherit; color: inherit; cursor: pointer; }
.evt-wrap fieldset { border: 0px none; }
.evt-wrap img { width: 100%; border: 0px; vertical-align: top; font-size: 0px; }
.evt-wrap table { border-spacing: 0; }
.evt-wrap caption, .evt-wrap th, .evt-wrap td { text-align: left; font-weight: normal; }
.evt-wrap .section { position: relative; }
.evt-wrap .hide { overflow: hidden; position: absolute; top: 0px; left: 0px; width: 100%; height: 1px; font-size: 0px; line-height: 0px; }
.evt-wrap .trans-link, .evt-wrap .pos-abs { display: inline-block; *display: inline; *zoom: 1; z-index: 2; position: absolute; overflow: hidden; }
.evt-wrap .pos-abs img { width: 100%; }
.evt-wrap .trans-link img { width: 100%; height: 100%; }
.evt-wrap .img-wrap { position: relative; overflow: hidden; }
.evt-wrap .img-wrap .hide { top: 0px; left: 0px; width: 100%; height: 100%; opacity: 0; }



/* 상단 */
.section.header .img-wrap.nth-1 .trans-link { width: 66.17647058823529%; height: 12.16666666666667%; left: 16.61764705882353%; bottom: 0%; }
.section.header .img-wrap.nth-2 .trans-link { width: 80.88235294117647%; height: 33.21917808219178%; left: 9.558823529411765%; top: 44.52054794520548%; }


/* 게임 canvas 설정 */
.gameCanvas {position:relative;display:none;margin:0; font-size:0;width:100%;}
#cashpangCanvas {border-bottom:1px solid #fff;}

.gameResult {position:absolute;top:0;width:100%;}
.gameResult ._gameoverScore {position:absolute;left:47%;top:100px;}
.gameResult ._playGame {width: 306px; height:89px; left: 23%; top: 226px;}
.gameResult ._back {width: 300px; height: 50px; left: 23%; top: 335px;}
.gameResult .endStatus {left: 13%; top: 71%;}
.gameResult .endStatus .myRank {width: 199px;}
/*.gameResult .btns {text-align: center; font-size:0;}
.gameResult a {text-indent:initial;}
.gameResult .btn-red { position:relative;display:inline-block; width:125px; padding:15px 5px; margin-right:15px; font-size:15px; background:#d93d32; color:#fff; font-weight:bold; text-align:center; border-radius:5px; }
.gameResult .btn-white { position:relative;display:inline-block; width:125px; padding:15px 5px; font-size:15px; background:#fff; color:#666; font-weight:bold; text-align:center; border-radius:5px; border:1px solid #bbb; }
.gameResult .btn-full { width:280px; margin-bottom:10px; padding: 8px 5px;}
.gameResult .gameRanking { margin:15px 0;}
.gameResult .gameRanking .rankOver { font-size: 16px; color: gray; width: 280px; margin: 0 auto; text-align: center; line-height:30px;}
.gameResult .rankList { overflow:hidden; width:300px; margin:0 auto; height:70px; position:relative;}
.gameResult .rankList table { width:300px; border-collapse:collapse; margin-top: 22px;}
.gameResult .rankList td { padding:3px 0; font-size:16px; color:#999; font-weight:bold; text-align:center; }
.gameResult .rankList td strong { color:#d93d32; }
*/

/* 상황 */
.section.status .pos-abs { top: 0px; }
.section.status > .pos-abs.nth-1 { left: 6.470588235294118%; width: 51.47058823529412%; top: 22.48062015503876%; height: 65.89147286821705%; }
.section.status > .pos-abs.nth-2 { left: 62.05882352941176%; width: 37.94117647058824%; height: 100%; }

/* 상황 > 스코어 or 랭킹 */
.section.status > .pos-abs.nth-1 table { table-layout: fixed; width: 100%; height: 100%; }
.section.status > .pos-abs.nth-1 caption { opacity: 0; height: 1px; margin-top: -1px; }
.section.status > .pos-abs.nth-1 th { opacity: 0; width: 25%; }
.section.status > .pos-abs.nth-1 td { width: 75%; text-align: right; font-size: 1.0em; font-weight: bold; color: #fff200;}
.section.status > .pos-abs.nth-1 ._myRank{ width: 75%; text-align: right; font-size: 1.0em; font-weight: bold; color: #fff;}
.section.status > .pos-abs.nth-1 td em { font-size: 1.5em; font-weight: bold; color: #fff; }


/* 상황 > 게임기회 */
.section.status > .pos-abs.nth-2 .pos-abs {
    display: -webkit-box;
    display:     -ms-box;
    display:         box;
    -webkit-box-align: center;
        -ms-box-align: center;
            box-align: center;
    right: 49%; height: 100%; top: 0%; text-align: right; font-weight: bold; font-size: 1.5em; font-style: normal; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); }
.section.status > .pos-abs.nth-2 .pos-abs span { display: block; }
.section.status > .pos-abs.nth-2 .trans-link { width: 30.20408163265306%; right: 10.61224489795918%; height: 64.91228070175439%; top: 16.66666666666667%; }

/* tip */
.section.tip .item-2 .trans-link { width: 29.41176470588235%; left: 61.91176470588235%; height: 72.36842105263158%; top: 0%; }
.section.tip .item-3 .trans-link { width: 29.41176470588235%; left: 61.91176470588235%; height: 70.96774193548387%; top: 4.516129032258065%; }
.section.tip .item-4 .trans-link { top: 34.2741935483871%; height: 26.20967741935484% }
.section.tip .item-4 .trans-link.nth-1 { width: 30.88235294117647%; left: 7.647058823529412%; }
.section.tip .item-4 .trans-link.nth-2 { width: 49.26470588235294%; left: 41.02941176470588%; }

/* sns */
.section.sns .trans-link { width: 12.79411764705882%; height: 41.14832535885167%; top: 41.62679425837321%; }
.section.sns .trans-link.nth-1 { left: 17.64705882352941%; }
.section.sns .trans-link.nth-2 { left: 34.85294117647059%; }
.section.sns .trans-link.nth-3 { left: 52.64705882352941%; }
.section.sns .trans-link.nth-4 { left: 70.44117647058824%; }


/* 랭킹배틀 */
.section.rank-battle .trans-link.nth-1 { width: 18%; left: 68%; top: 48%; height: 30%; }
.section.rank-battle .trans-link.nth-2 { width: 31.17647058823529%; left: 13.52941176470588%; top: 80.60453400503778%; height: 13.85390428211587%; }

/* 레이어팝업 */
.layerPop {position:absolute; top:0; left:0; width:100%; height:100%; z-index:999; line-height: 1.5em; }
.layerPop .layerBg {position:absolute; top:0; left:0; z-index:1000; width:100%; height:100%; position:absolute; background:rgba(0,0,0,0.5);}

.layerPop caption { width:0; height:1px; text-indent:-1000%; }
.gamePop { position:absolute; width:96%; top:1%; left:2%; z-index:1001; }
.popcontwrap { background:#fff; border-radius:8px;}
.popcontwrap h1 { padding:15px 0; font-size:19px; font-weight:bold; border-bottom:1px solid #d93d32; text-align:center;}
.popcontwrap input { width:100%; font-size:14px; margin-bottom: 10px; padding:8px 2%; border:1px solid #bbb; border-radius:5px; }
.popcontwrap .btmCont { margin:0 5%; padding:10px 0 30px;}
.popcontwrap .btnArea { margin-bottom:10px; text-align:center; }
.popcontwrap .btn-red { display:inline-block; width:48%; padding:15px 0; font-size:18px; background:#d93d32; color:#fff; font-weight:bold; text-align:center; border-radius:5px; }
.popcontwrap .btn-white { display:inline-block; width:48%; padding:15px 0; font-size:18px; background:#fff; color:#666; font-weight:bold; text-align:center; border-radius:5px; border:1px solid #bbb; }
.popcontwrap .btn100 { width:100%; }
.popcontwrap .btmNotice { display:inline-block; }
.popcontwrap .btmNotice li { padding-left:10px; font-size:12px; color:#777;  background:url(../images/pop_blet.jpg) no-repeat left 6px; background-size:3px; }
.popcontwrap .layer_close { position:absolute; display:block; width:17px; height:17px; top:15px; right:10px; text-indent:-10000px; background:url(../images/pop_close.jpg) no-repeat left top; background-size:100%; }

.popcontwrap .popcont { margin:0 5%; padding:20px 0 0; }
.popcontwrap .topMent { font-size:16px; font-weight:bold; margin-bottom:20px; }
.popcontwrap .topMent strong { color:#d93d32; }
.popcontwrap .popcont fieldset { margin-bottom: 20px; }
.popcontwrap .popcont label { display:block; margin-bottom:5px; font-size:14px; font-weight:bold; }

/* h2 부연설명 */
.pointDesc { padding-left:16px; margin:15px 0 10px; text-indent:-16px; }

/* 더보기 */
.moreBtn { display:block; width:99%; margin:12px 0 20px; padding:13px 0; border:1px solid #aaa; border-radius:8px; text-align:center; color:#666; font-size:14px; background:url(../images/btn_bg.jpg) repeat-x center bottom; background-size:100% 40px; font-weight:bold; }

/* 리스트 테이블 공통 */
.rankPrice { width:100%; }
.rankPrice table { width:99%; border-collapse:collapse; }
.rankPrice th { padding:4px 0; font-size:13px; color:#323232; font-weight:bold; background:#efefef; text-align:center; border-bottom:1px solid #333;}
.rankPrice td { padding:4px 0; font-size:13px; color:#767676; font-weight:bold; border:1px solid #ddd; text-align:center; }
.rankPrice td strong { color:#d93d32; }
.rankPrice .myRank td { color:#d93d32; }

/* 방법 공통 */
.cntBox { padding-bottom:20px; border-bottom:1px dashed #ccc; }
.cntBox .inBox { padding:13px; background:#f3f3f3; border-radius:8px; }
.cntBox .inBox li { margin-bottom:5px; padding-left:19px; text-indent:-19px; }
.cntBox .inBox li strong { color:#d93d32; }
.cntBox .num { display:inline-block; width:15px; height:15px; text-indent:-10000px; background:url(../images/pop_num.png) no-repeat left top; background-size:45px 15px; }
.cntBox .num2 { background-position:-15px; }
.cntBox .num3 { background-position:-30px;}

/* 동의 공통 */
.piWrap h2 { margin-bottom:5px; font-size:14px; }
.piWrap .rBox { padding:15px 15px 10px; margin-bottom:20px; border:1px solid #ddd; border-radius:8px; }
.piWrap .piBox { margin-bottom:5px; padding-bottom:15px; overflow-x:hidden; overflow-y:auto;  border-bottom:1px solid #ddd;}
.piWrap .rBox2 { margin-bottom:0; }
.piWrap h3 { margin-bottom:10px; font-size:13px; }
.piWrap ul { margin-bottom:15px; }
.piWrap li { margin-bottom:5px; padding-left:12px; text-indent:-12px; }
.piWrap .piChk span { margin-right:15px; line-height:20px; }
.piWrap .piChk input { width:auto; margin-bottom:0; vertical-align:middle;  }
.piWrap .piChk label { display:inline-block; margin-bottom:0; vertical-align:middle; color:#d93d32; }

/* 입력 공통 */
.inputWrap { width:100%; }
.inputWrap table { width:99%; border-collapse:collapse; border-top:1px solid #333;}
.inputWrap th { padding: 5px 10px; font-size:16px; color:#323232; font-weight:bold; background:#efefef; border-bottom:1px solid #ddd; text-align:left; font-size: 14px; color:#666666;}
.inputWrap td { padding:5px 10px; font-size:16px; color:#767676; font-weight:bold; border-bottom:1px solid #ddd; text-align:right; }
.inputWrap label { margin-bottom: 0px !important; }
.inputWrap input { margin-bottom: 0px; }
.inputWrap .buyCount {text-align: right; width: 98%;}
.inputWrap #appPwd {width: 98%;}
.inputWrap .input-sub { display: inline-block; margin-left: 3px; color: #d93d32; }

/* 게임방법 */
.gamePop.playHow .popcont { padding-bottom:25px; }

/* sms */
.gamePop.sms .topMent { margin-bottom:10px; }
.gamePop.sms .piDesc { margin-bottom:20px; }
.gamePop.sms .piDesc strong { color:#d93d32; }
.gamePop.sms .popcontwrap fieldset { margin-bottom:5px; }
.gamePop.sms .popcontwrap .smsContact { height: 39px; width:33%; top:47%; left:62%; padding:8px 0; background:#fff; color:#666; font-weight:bold; font-size:12px; vertical-align:top; border-radius: 8px; border: 1px #ccc solid;}
/* 랭킹 */
.gamePop.rank .popcont { border-bottom:none; }
.gamePop.rank h3,
.gamePop.friendRank h3 { margin:20px 0 10px; padding-left:12px; background:url(../images/pop_blet2.png) no-repeat left 3px; background-size:10px 9px; }

/* 구매 */
.gamePop.chanceBuy .topMent em { display: block; padding-left: 12px; background: url(../images/pop_blet3.png) left 3px no-repeat; background-size: 8px 8px; color: #d93d32; }
.gamePop.chanceBuy .inputWrap tr.nth-2 td { text-align: left; }
.gamePop.chanceBuy .inputWrap tr.nth-2 input { width: 80%; }

/* 구매 안내 */
.gamePop.chanceBuyNotice .popcont { text-align: center; }
.gamePop.chanceBuyNotice .popcont p.nth-1 { margin-top: 15px; margin-bottom: 15px; font-weight: bold; }
.gamePop.chanceBuyNotice .popcont p.nth-1 em { font-style: normal; color: #d93d32; }
.gamePop.chanceBuyNotice .popcont p.nth-2 { margin-top: 15px; padding-top: 15px; border-top: 1px dashed #dddddd; }
.gamePop.chanceBuyNotice .popcont p.nth-2 strong { display: block; margin-top: 25px; }

/* 선물 */
.gamePop.chancePresent .topMent em { display: block; padding-left: 12px; background: url(../images/pop_blet3.png) left 3px no-repeat; background-size: 8px 8px; color: #d93d32; }
.gamePop.chancePresent .inputWrap tr.nth-2 td { text-align: left; }
.gamePop.chancePresent .inputWrap tr.nth-2 input { width: 80%; }
.gamePop.chancePresent .contactFind { width: 100%; height: 39px; margin-top: 3px; padding:8px 0; background:#fff; color:#666; font-weight:bold; font-size:12px; vertical-align:top; border-radius: 8px; border: 1px #ccc solid; }

.gamePop.chanceList .popcont { margin: 0; }
.gamePop.chanceList .topMent { margin: 0 5%; }
.gamePop.chanceList .tabcont2 { position: relative; margin-top: 10px; padding-top:34px; }
.gamePop.chanceList .tabcont2 h3 { z-index: 2; width:44.5%; height: 36px; position:absolute; top:0; }
.gamePop.chanceList .tabcont2 h3 button { display: block; width: 100%; height: 35px; line-height: 35px; border:1px solid #ccc; border-top-left-radius:5px; border-top-right-radius:5px; background: #e0e0e0; text-align: center; font-size:18px; color:#666; }
.gamePop.chanceList .tabcont2 .tab01,
.gamePop.chanceList .tabcont2 .tab02 {width:100%; }
.gamePop.chanceList .tabcont2 .tab01 h3 { left:5%; }
.gamePop.chanceList .tabcont2 .tab02 h3 { right:5%; }
.gamePop.chanceList .tabcont2 .on h3 button { background:#fff; border-bottom:1px solid #fff; }
.gamePop.chanceList .tabcont2 .on h3 button { color:#111 }
.gamePop.chanceList .tabcont2 .tab-article { display: none; padding: 0 5%; padding-top: 10px; border-top: 1px solid #ccc; }
.gamePop.chanceList .tabcont2 .on .tab-article { display: block; }


.gameResult {position:absolute;top:0;width:100%; font-size: 30px;}
.gameResult ._gameoverScore {position:absolute;left:47%;top:15%; font-size: 40px;}
.gameResult ._playGame {width: 537px; height:121px; left: 23%; top: 33%;}
.gameResult ._back {width: 478px; height: 73px; left: 25%; top: 48%;}
.gameResult ._backRank {width:86%; height: 84px; left: 7%; top: 81%;}
.gameResult .endStatus {left: 12%; top: 70%;}
.gameResult .endStatus td {font-size:1.0em; line-height:100%; padding-left:9px; font-weight: bold; color: #fff200;}
.gameResult .endStatus i { font-style:normal; font-size:0.7em; color: #fff;}
.gameResult .endStatus .myRank {width: 50%;}


/* 기타 */
.shown {display: block !important}
.hidden {display: none !important}
._pointTable td:nth-child(1) {white-space: nowrap;}

input[disabled] { background-color: #ccc }
html {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}


 /* 화면 사이즈별 폰트 설정 */
@media all and (max-width:340px){
    .section.status ._gameCount { font-size:1.5em;}
    .rankPrice td {font-size: 14px;}
    .gameResult .score span { font-size:42px;  }
    .section.status .myscore th { font-size:15px; line-height:15px;}
    .section.status .myscore td { font-size:15px; line-height:15px;}
    .section.status .myrank th { font-size:12px; line-height:12px;}
    .section.status .myrank td { font-size:12px; line-height:12px;}
    .gameResult {position:absolute;top:0;width:100%; font-size: 30px;}
    .gameResult ._gameoverScore {position:absolute;left:28%;top:15%; font-size: 40px;}
    .gameResult ._playGame {width: 173px; height:49px; left: 23%; top: 38%;}
    .gameResult ._back {width: 202px; height: 47px; left: 20%; top: 54%;}
    .gameResult ._backRank {width:86%; height: 43px; left: 7%; top: 102%;}
    .gameResult .endStatus {left: 12%; top: 70%;}
    .gameResult .noRank {margin-top: -35%; margin-left: 9%; font-size: 0.5em;}
    .gameResult .endStatus td {font-size:0.8em; line-height:100%; padding-left:9px; font-weight: bold; color: #fff200;}
    .gameResult .endStatus i { font-style:normal; font-size:0.5em; color: #fff;}
    .gameResult .endStatus .myRank {width: 100px;}
}
@media all and (min-width:341px) and (max-width:400px){
    .section.status .myscore {margin-top: 2px;}
    .section.status .myscore th { font-size:16px; line-height:16px;}
    .section.status .myscore td { font-size:16px; line-height:16px;}
    .section.status .myrank th { font-size:12px; line-height:12px;}
    .section.status .myrank td { font-size:12px; line-height:12px;}
    .gameResult {position:absolute;top:0;width:100%; font-size: 30px;}
    .gameResult ._gameoverScore {position:absolute;left:34%;top:14%; font-size: 40px;}
    .gameResult ._playGame {width: 225px; height:63px; left: 23%; top: 40%;}
    .gameResult ._back {width: 218px; height: 43px; left: 23%; top: 47%;}
    .gameResult .endStatus {left: 12%; top: 70%;}
    .gameResult ._backRank {width:86%; height: 84px; left: 7%; top: 102%;}
    .gameResult .noRank {margin-top: -35%; margin-left: 9%; font-size: 0.5em;}
    .gameResult .endStatus td {font-size:1.0em; line-height:100%; padding-left:9px; font-weight: bold; color: #fff200;}
    .gameResult .endStatus i { font-style:normal; font-size:0.5em; color: #fff;}
    .gameResult .endStatus .myRank {width: 146px;}
}
@media all and (min-width:401px) and (max-width:540px){
    .section.status .myscore {margin-top: 2px;}
    .section.status .myscore th { font-size:16px; line-height:16px;}
    .section.status .myscore td { font-size:16px; line-height:16px;}
    .section.status .myrank th { font-size:12px; line-height:12px;}
    .section.status .myrank td { font-size:12px; line-height:12px;}
    .gameResult {position:absolute;top:0;width:100%; font-size: 30px;}
    .gameResult ._gameoverScore {position:absolute;left:34%;top:14%; font-size: 40px;}
    .gameResult ._playGame {width: 225px; height:63px; left: 23%; top: 30%;}
    .gameResult ._back {width: 218px; height: 43px; left: 23%; top: 59%;}
    .gameResult .endStatus {left: 12%; top: 70%;}
    .gameResult ._backRank {width:86%; height: 84px; left: 7%; top: 102%;}
    .gameResult .noRank {margin-top: -35%; margin-left: 9%; font-size: 0.5em;}
    .gameResult .endStatus td {font-size:1.0em; line-height:100%; padding-left:9px; font-weight: bold; color: #fff200;}
    .gameResult .endStatus i { font-style:normal; font-size:0.5em; color: #fff;}
    .gameResult .endStatus .myRank {width: 146px;}
}
@media all and (min-width:540px){
    .section.status .myrank { margin-bottom:1%; }
    .section.status .myscore {margin-top: 2px;}
    .section.status .myscore th { font-size:28px; line-height:28px;}
    .section.status .myscore td { font-size:28px; line-height:28px;}
    .section.status .myrank th { font-size:24px; line-height:24px;}
    .section.status .myrank td { font-size:24px; line-height:24px; }
    .section.status .chance { font-size:40px; }
    .endStatus ._myGamePoint { font-size:92px; }
    .gameResult .score span { font-size:62px;  }
    .gameResult ._gameoverScore {position:absolute;left:34%;top:20%; font-size: 40px;}
    .gameResult ._playGame {width: 292px; height:63px; left: 23%; top: 44%;}
    .gameResult ._back {width: 280px; height: 43px; left: 23%; top: 62%;}
    .gameResult .endStatus {left: 12%; top: 70%;}
    .gameResult ._backRank {width:86%; height: 84px; left: 7%; top: 105%;}
    .gameResult .noRank {margin-top: -35%; margin-left: 9%; font-size: 1.5em;}
    .gameResult .endStatus th {font-size:30px; line-height:100%; font-weight: bold; padding: 0 50px 10px 0;}
    .gameResult .endStatus td {font-size:1.7em; line-height:100%; padding-left:9px; font-weight: bold; color: #fff200;}
    .gameResult .endStatus i { font-style:normal; font-size:0.7em; color: #fff;}
    .gameResult .endStatus .myRank {width: 231px;}
}
